@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/*Para colocar fonte (tirado do Google Fonts)*/

body.cor{
    background-color: #3F401E;
}

div.container{
    background-color: #fff;
}

header, footer{
    background-color: #C1D4D9;
}

div{
    width: 960px;
    margin: auto;
}

h1{
    font-family: 'Shantell Sans', cursive;
    /*Para colocar fonte (tirado do Google Fonts)*/ 
}

a{
    color:#C1D4D9;
}

a.text{
    text-decoration: none;
}

#img{
    width: 960px;
}